/* custom pricing */

section.pricing {
    background: #8D99AE;
    /* background: linear-gradient(to right, #0062E6, #33AEFF); */
  }
  
  .pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .pricing hr {
    margin: 1.5rem 0;
    color: inherit;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: .25;
  }
  
  .pricing .card-title {
    margin: 0.5rem 0;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    font-weight: bold;
  }
  
  .pricing .card-price {
    font-size: 5rem;
    margin: 0;
  }

  
  .pricing .card-price .period {
    font-size: 1.5rem;
  }
  
  .pricing ul li {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  
  .pricing .text-muted {
    opacity: 0.7;
  }
  
  .pricing .btn {
    font-size: 80%;
    letter-spacing: .1rem;
    font-weight: bold;
    opacity: 0.7;
    transition: all 0.2s;
    border-radius: 1rem;
    /* padding: 1rem; */
  }

   /* Hover Effects on Card */
  
   @media (min-width: 992px) {
    .pricing .card:hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
  
    .pricing .card:hover .btn {
      opacity: 1;
    }
  }